@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --primary: #fed136;
  --secondary: #ce793c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: var(--primary);
}

.secondary {
  color: white;
  background-color: #ccc;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

table {
  width: 100%;
  table-layout: fixed;
  border-radius: 0.5rem;
  border-collapse: collapse;
  background-color: white;
}

th {
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: solid 1px #ccc;
}

td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}

input {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 100%;
}

select {
  width: 100%;
  padding: 7px;
  max-width: 400px;
  margin-left: 1rem;
  border-radius: 0.5rem;
}

[type='checkbox'] {
  width: 13px;
  height: 13px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.table_and_buttons {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 1rem 0;
}
